body {
  font-family: helvetica;
  background-color: blanchedalmond;
  margin: 1rem 2rem;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 10px;
  display: block;
  padding: 20px;
}
